name: Test

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: |
          forge install foundry-rs/forge-std@v1.9.4 --no-commit
          forge install OpenZeppelin/openzeppelin-contracts@v5.0.2 --no-commit
          forge install OpenZeppelin/openzeppelin-contracts-upgradeable@v5.0.2 --no-commit

      - name: Run tests
        run: forge test -vvv

      - name: Check formatting
        run: forge fmt --check
